/*
Author: Aaron Blum
Date: 9/14/25
File Name: fanbool.css
*/

/* CSS Reset */
body,
header,
nav,
main,
footer,
img,
h1 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Personal customization */
body {
    background-image: url(/images/bg-footballs.png);
    color: #013369;
    font-family: Montserrat, sans-serif
}

/* Style rules for header content */
header {
    text-align: center;
}

/* Style rules for mobile viewport */

/* Show mobile class, hide desktop class */
.mobile {
    display: block;
}

.desktop {
    display: none;
}

/* Style rules for navigation area */
nav {
    display: inline-block;
    color: #013369;
    font-size: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

/* TODO: desktop rules! */
 
/* desktop should show nav horizontally
nav li {
    display: inline-block;
}
*/

/* desktop should show on desktop
.desktop {
    display: none;
}
*/

nav a {
    font-size: 2em;
    padding: 0em 0.25em;
    text-decoration: none;
}

/* Style rules for main content */
main {
    padding: 2%;
    overflow: auto;
    font-size: 1.2em;
}

main #game h2 {
    font-style: italic;
}

main #game h4 {
    color: #d50a0a;
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.75em;
    clear: left;
}

footer a {
    color: #4645a8;
    text-decoration: none;
}