/*
Author: Aaron Blum
Date: 9/14/25
File Name: fanbool.css
*/

/* CSS Reset */
body,
header,
nav,
main,
footer,
img,
h1,
h2,
h3,
h4,
p,
ul,
ol,
section,
aside,
figure,
figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

#countdown-display {
    text-align: center;
    padding: 10px 0;
    margin-top: 5px;
    /* Make the text bright white so it stands out against the dark body background (#222) */
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    /* Add a solid background color if necessary to ensure visibility */
    background-color: #d50a0a;
    /* Using one of your theme colors (red) */
}

/* Style rules for body and images */
body {
    background-color: #222;
    font-family: Montserrat, sans-serif
}

img {
    max-width: 100%;
    display: block;
}

/* Style rules for mobile/any viewport */

/* Style rules for header */
header {
    background-color: #222;
}

header img {
    margin: 0 auto;
    max-width: 315px;
    min-height: 70px;
}

/* Hamburger rules */
#menu-toggle {
    display: none;
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #FFF;
    margin: 4px 0;
}

/* Style rules for navigation area */
nav {
    padding: 0.25em;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.5em;
    border-top: 1px solid #fff;
}

nav li a {
    display: block;
    color: #fff;
    padding: 0.25em;
    text-decoration: none;
}

nav li a:hover {
    color: #222;
    background-color: #fff;
}

/* Style rules for main content */
main {
    background-image: url(/images/bg-footballs.png);
    color: #013369;
    padding: 2%;
    font-size: 1.2em;
}

#game h2 {
    font-size: 1.2em;
    font-style: italic;
    margin: 0 auto 0.3em;
    text-align: center;
}

#game label {
    text-shadow: 1px 1px 1px #013369;
}

#game label.true {
    color: #35CB2E;
}

#game label.false {
    color: #d50a0a;
}

#game #submit {
    margin: 0.5em auto;
    display: block;
    padding: 3%;
    color: #fff;
    background-color: #d50a0a;
    border: solid 4px #013369;
    font-size: 1.2em;
    cursor: pointer;
}

#game #submit:disabled {
    background-color: #aaaaaa;
    opacity: 0.5;
    cursor: default;
}

/*
Style rules for the matchups, complicated!
We use vw units throughout this section so that the font sizes scale smoothly along with image sizes.
The result is a consistent visual on the figure no matter what width the screen is.
*/
.matchup {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 1em;
    align-items: center;
    padding: 1em;
}

.matchup figure {
    border: #013369 solid 4px;
    padding: 1em;
    min-height: 24vw;
    text-align: center;
    /* for the figcaption below */
    position: relative;
}

.matchup img {
    display: block;
    margin: 0.25em auto;
    max-width: 20vw;
}

.matchup figcaption {
    display: block;
    white-space: nowrap;
    font-size: 2vw;

    /* Make the caption sit at the bottom of the figure's border */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 0.5em;
    color: #fff;
    background-color: #013369;
}

.matchup h4 {
    color: #d50a0a;
    text-shadow: 0.2vw 0.3vw 0.5vw #013369;
    font-size: 4vw;
    text-align: center;
    white-space: nowrap;
}

/* Style rules for leaderboard and table */
#leaderboard {
    background-color: #013369;
    color: #fff;
    padding: 1em;
}

#leaderboard table {
    border: 1px solid #d50a0a;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}

#leaderboard caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 2%;
    white-space: nowrap;
}

#leaderboard th {
    border: 1px solid #d50a0a;
    padding: 2%;
    background-color: #013369;
}

#leaderboard td {
    border: 1px solid #d50a0a;
    padding: 2%;
}

tr:nth-child(odd) {
    background-color: #0E5CA5;
}

/* Style rules for content pages */
.content-page {
    color: #013369;
}

.content-page p {
    margin: 1em 0;
}

.content-page ul {
    margin: 1em 0;
    padding-left: 40px;
}

.content-page figure {
    position: relative;
    max-width: 300px;
    margin: 2% auto;
    border: 8px solid #d50a0a;
}

.content-page figcaption {
    position: absolute;
    bottom: 0;
    background: rgba(14, 92, 165, 0.5);
    color: #fff;
    width: 100%;
    padding: 5% 0;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}


section.user-input {
    width: 100%;
    margin: 2em auto;
    display: flex;
    justify-content: center;
}

.user-input fieldset,
input,
select,
textarea {
    margin-bottom: 2%;
}

.user-input fieldset legend {
    font-weight: bold;
    font-size: 1.25em;
}

.user-input label {
    display: block;
    padding-top: 3%;
}

.user-input .btn {
    margin: 0 auto;
    border: none;
    padding: 2%;
    background-color: #b3b3b3;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
}

.user-input #reset {
    border: 1px solid black;
    background-color: #fff;
}

/* Style rules for footer content */
footer {
    background-color: #222;
    color: #fff;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.footer-col {
    flex: 1;
    min-width: 150px;
}

.footer-col h4 {
    margin-bottom: 10px;
}

.footer-col a {
    color: #ccc;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.footer-col a:hover {
    color: #fff;
}

.footer-col a i {
    font-size: 20px;
    margin-right: 10px;
    color: #ccc;
    transition: color 0.3s ease;
}

.footer-col a i:hover {
    color: #fff;
}

.social_icon span a {
    display: inline-block;
}

/* Media Query for Mobile Viewport */
@media screen and (max-width: 630px),
print {

    /* Show mobile class, hide desktop class */
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    /* Float hamburger to the right of title */
    header {
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        width: 100%;
    }

    nav {
        padding: 0;
    }

    nav a {
        display: block;
        border-top: 1px solid #fff;
    }

    /* Hamburger dropdown position under hamburger. */
    #hamburger-content {
        display: none;
        position: absolute;
        right: 0px;
        background-color: #111;
        width: 10em;
        padding-top: 4px;
        padding-bottom: 0.25rem;
        z-index: 1000;
    }

    /* Crazy rule to show hamburger dropdown. */
    #menu-toggle:checked+#hamburger-content {
        display: block;
    }
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 631px),
print {

    /* Tablet viewport: show desktop class, hide mobile class */
    /* TODO: maybe explicit .tab-desk rules here instead of only desktop? */
    .desktop {
        display: block;
    }

    span.desktop {
        display: inline;
    }

    .mobile {
        display: none;
    }

    /* Tablet Viewport: Style rules for nav area */
    .hamburger {
        display: none;
    }

    nav li {
        border-top: none;
        display: inline-block;
        border-right: 1px solid #fff;
    }

    nav li:last-child {
        border-right: none;
    }

    nav li a {
        padding: 0.1em 0.5em;
    }

    main aside {
        margin-bottom: 20px;
    }

    #game h2 {
        font-size: 1em;
        text-align: left;
    }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px),
print {
    .tablet {
        display: none;
    }

    main.game-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    main.game-grid aside {
        grid-column: 1 / span 3;
    }

    #game {
        grid-column: 1 / span 2;
    }

    /* Cap all the scaling on the matchup figure. */
    .matchup figure {
        min-height: 152px;
    }

    .matchup img {
        max-width: 101px;
    }

    .matchup figcaption {
        font-size: 1em;
    }

    .matchup h4 {
        text-shadow: 2px 3px 5px #013369;
        font-size: 40px;
    }
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {

    body {
        width: 1920px;
        margin: 0 auto;
    }
}

/* Media Query for Print */
@media print {
    body {
        background-color: #fff;
        color: #000;
    }

    nav li {
        font-size: 1.5em;
    }

    nav li a {
        padding: 0.5em;
    }

    footer {
        display: none;
    }
}