/*
Author: Aaron Blum
Date: 9/14/25
File Name: base.css
*/

/* CSS Reset */
body,
header,
nav,
main,
footer,
img,
h1 {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Verdana, Arial, sans-serif;
    color: #cdf;
    background-color: #222;
}

/* Style rules for header content */
header {
    text-align: center;
    font-size: 1.5em;
}

header h1 {
    color: #44f;
    font-weight: bold;
}

/* Style rules for navigation area */
nav a {
    color: #cdf;
    text-align: center;
    text-decoration: none;
    padding: 0.25em 0.5em;
    white-space: nowrap;
}

/* Hamburger rules */
#menu-toggle {
    display: none;
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #FFF;
    margin: 4px 0;
}

/* Style rules for main content */
main {
    padding: 2%;
    overflow: auto;
    min-height: 70vh;
    color: #000;
    background-image: url(/fall_fy2025/images/simon-berger-twukN12EN7c-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main p {
    font-size: 1.25em;
}

main #notes {
    font-size: 1.5em;
}

/* Style rules for form elements */
fieldset,
input,
textarea {
    margin-bottom: 5px;
}

.contact legend {
    font-weight: bold;
    font-size: 1.25em;
}

.contact input,
textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.contact label {
    display: block;
}

.contact #submit {
    margin: 10px 0;
    width: auto;
    max-width: 120px;
    display: block;
    padding: 5px;
    color: #44f;
    border: 1px solid #000;
    background-color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

/* Style rules for footer content */
footer {
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.footer-col {
    flex: 1;
    min-width: 150px;
}

.footer-col h4 {
    margin-bottom: 10px;
}

.footer-col a {
    color: #ccc;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.footer-col a:hover {
    color: #fff;
}

.footer-col a i {
    font-size: 20px;
    margin-right: 10px;
    color: #ccc;
    transition: color 0.3s ease;
}

.footer-col a i:hover {
    color: #fff;
}

.social_icon span a {
    display: inline-block;
}

/* Media Query for Mobile Viewport */
@media screen and (max-width: 630px),
print {

    /* Show mobile class, hide desktop class */
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    /* Float hamburger to the right of title */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        width: 100%;
    }

    /* Smaller header */
    header h1 {
        font-size: 1.2em;
        padding: 1rem;
    }

    nav {
        padding: 1rem;
    }

    nav a {
        display: block;
        border-top: 1px solid #fff;
    }

    /* Hamburger dropdown position under hamburger. */
    #hamburger-content {
        display: none;
        position: absolute;
        right: 0px;
        background-color: #111;
        width: 7.5em;
        padding-top: 1.6rem;
        padding-bottom: 0.25rem;
        z-index: 1000;
    }

    /* Crazy rule to show hamburger dropdown. */
    #menu-toggle:checked+.hamburger+#hamburger-content {
        display: block;
    }
}

/* Media Query for Tablet/Desktop Viewport */
@media screen and (min-width: 631px),
print {

    /* Show desktop class, hide mobile class */
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .hamburger {
        display: none;
    }

    nav a {
        display: inline-block;
        border-left: 1px solid #fff;
    }

    nav a:first-child {
        border-left: none;
    }

    nav a:hover {
        color: #111;
        background-color: #cdf;
    }

    /* Style rules for Chapters dropdown on desktop */
    #chapters {
        position: relative;
    }

    /* Special rules for the Chapter header. */
    #chapters>a {
        display: inline-block;
        /* Same width as content below it. */
        width: 7.5em;
        padding: 0.25em 0;
        border-left: solid 1px #cdf;
    }

    #chapters-content {
        display: none;
        position: absolute;
        left: 0;
        background-color: #111;
        width: 7.5em;
        padding-bottom: 0.25rem;
        z-index: 1000;
    }

    #chapters:hover #chapters-content {
        display: block;
    }

    #chapters-content a {
        display: block;
        border-left: none;
        border-top: 1px solid #fff;
    }

    /* Tablet Viewport: Style rule for form element */
    .contact form {
        width: 37.2em;
        margin: 0 auto;
    }

    .contact-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px 20px;
    }

    .contact #submit {
        margin: 10px auto;
        grid-column: 1 / span 2;
    }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 900px),
print {
    .contact form {
        width: 72%;
        margin: 0 auto;
    }
}